/target
/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.cargo-ok
.next/
/src/sc-build
package-lock.json
**/src/sc-build/**/*.*
out/**/*.*
.env
log.csv
work.csv
out
.DS_Store
~/.env.example