@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

@import "antd/lib/modal/style/index";
@import "antd/lib/checkbox/style/index";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: none;
}

* {
  box-sizing: border-box;
}

.ant-modal-wrap {
  background: rgba(0, 0, 0, 0.5);
}
