.Button {
  display: flex;
  position: relative;
  border-radius: 100px;
  padding-left: 16px;
  padding-right: 16px;

  &.primary {
    background: black;
    color: white;
    border-radius: 100px;
    background-clip: padding-box;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(to bottom, #ffe600, 80%, #928946);
    }
    &:hover {
      background: #333;
      color: #fff;
    }
  }

  &.secondary {
    background: black;
    color: #B2B2B2;
    border-radius: 100px;
    background-clip: padding-box;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(to bottom, #B2B2B2, 80%, #B2B2B2);
    }
    &:hover {
      background: #333;
      color: #fff;
    }
  }
}

.light {
  background: #f0f7ff;
  border: 0.4px solid #bbd2f1;
  box-sizing: border-box;
  border-radius: 8px;
  &:hover {
    background: #e6f1ff;
  }
}
